@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
        font-family: "Inter", sans-serif;
}

header{
    text-align: center;
    background-color:#0904F6 ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100px;
}
img{
    height: 250px;
    margin: 35px auto;
    display: flex;  
}
p{
    text-align: left;
    max-width: 559px;
    margin: 20px;
    margin-left: 90px;
    font-size: 20px;
}