@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
        font-family: "Inter", sans-serif;
}
.container {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.info {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.info img {
    width: 300px;
}

.info p {
    width: 320px;
    line-height: 1.6;
    text-align: justify;
}

.botoes{
    display: flex;
    gap: 40px;
    margin-top: 130px;
}

.vermelho, .azul {
    width: 500px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
}

.vermelho {
    background: #c62828;
}

.azul {
    background: #3949ab;
}