@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
        font-family: "Inter", sans-serif;
}
.img1 {
    display: flex;
    justify-content: center;
}
 
.img1 img {
    border-radius: 40%;
    width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 15px solid black;
}
 
.img2 {
    display: flex;
    justify-content: center;
}
 
.img2 img {
    width: 450px;
    margin-bottom: 20px;
}